* {
  padding: 0px;
  margin: 0px;
  font-family: "Edu TAS Beginner", cursive;
  font-family: "Lato", sans-serif;
  color: white;
  /* animation: zoomIn 3s ease 1; */
}
@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
h1 {
  font-size: 72px;
  margin: 10px;
}
p {
  font-size: x-large;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

#side-text p {
  display: flex;
  font-size: large;
}
body {
  background: linear-gradient(45deg, #2b2a4c, #264c74);
  overflow-x: hidden; /* Verberg horizontale schuifbalk */
  overflow-y: auto; /* Toon verticale schuifbalk als nodig */
}
.heroimg {
  position: relative;
}

.heroimg::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
      45deg,
      rgba(68, 158, 168, 0.52),
      rgba(1, 26, 92, 0.668)
    ),
    url(../img/zonder\ watermakerer.jpeg);
  background-size: cover;
  opacity: 0.5; /* Adjust the overlay opacity value as needed (0 to 1) */
  z-index: -1;
}
/* de navigatie balk */
header {
  height: 146px;
  width: 100vw;
}
nav li {
  display: inline-block; /* Display list items inline */
  margin-right: 10px; /* Adjust as needed for spacing between items */
}
nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: 146px;
}
.center {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.foto {
  height: 102px;
  width: 114px;
  border-radius: 100%;
  background-color: wheat;
  transition: 600ms;
  box-shadow: 2px 2px 4px #000000, -2px -2px 4px #ffffff;
  margin: 20px;
}
.navigatieknop {
  height: 60px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 4px #000000, -2px -2px 4px #ffffff;
}

.navigatieknop :hover {
  height: 60px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  transition: 600ms;
  background-image: url(..\img/zonder\ watermakerer.jpeg);
  background-size: cover;
  box-shadow: 1px 1px 2px #000000, -1px -1px 2px #ffffff;
}

.doorclick-knop {
  margin: 10px;
  height: 100px;
  width: 492px;
  background-image: linear-gradient(
      to bottom,
      rgba(44, 58, 142, 0.52),
      rgba(56, 69, 98, 0.668)
    ),
    url(..\img/zonder\ watermakerer.jpeg);
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  transition: 600ms;
  box-shadow: 1px 1px 2px #000000, -1px -1px 2px #ffffff;
}

.doorclick-knop:hover {
  transform: scale(1.5);
  box-shadow: 2px 2px 4px #000000, -2px -2px 4px #ffffff; /* Adjust the box shadow */
}

/* begin text */
.home {
  height: 78.6vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1.5fr);
  justify-items: center;
  align-items: center;
}

#title {
  text-align: center;
}
#subtext {
  text-align: center;
}
/* einde text */

/* afbeeldingen */
.pinkgoose {
  height: 300px;
  width: 400px;
  border-radius: 50px;
}

/* einde afbeeldingen */

/* footer,footerknoppen,footerknoppen animatie
en email*/

footer {
  height: 156px;
  width: 100vw;
  background-color: #102031;
  display: flex;
  flex-direction: column;
}
.taakbalk {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 30px;
}

.social-blok {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: 10s;
}
.social-blok :hover {
  animation: blink 2s none;
  transform: scale(5);
  transition: 10s;
}
.copyright {
  display: flex;
  justify-content: center;
}
.copyright-text {
  font-size: small;
  color: gray;
}

/* hier eindigt de footer */
/* einde homepage desktop */

/* start  telefoon homepage*/

@media screen and (max-width: 600px) {
  nav {
    display: flex;
    justify-content: center;
  }
  .social-blok :hover {
    animation: none;
    transform: scale(1);
    transition: 10s;
  }
  .foto {
    display: none;
  }

  h1 {
    font-size: 2em;
    text-align: center;
  }

  p {
    font-size: 1.5em;
    text-align: center;
  }

  h3 {
    font-size: 1em;
  }

  .navigatieknop {
    height: 60px;
    width: 70px;
    margin: 10px;
    background: linear-gradient(45deg, #2b2a4c, #264c74);
    border-radius: 20%;
    transition: 600ms;
    box-shadow: 1px 1px 2px #000000, -1px -1px 2px #ffffff;
  }
  .navigatieknop :hover {
    height: 60px; /* Set the same height as default */
    width: 100px; /* Set the same width as default */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    transition: none; /* Remove transition if needed */
    background-image: none; /* Remove background image */
    box-shadow: none; /* Remove box shadow */
  }
  .pinkgoose {
    height: 120px;
    width: 250px;
    border-radius: 10%;
  }

  #title {
    margin: 10px;
    text-align: center;
  }

  .text-homepage {
    text-align: center;
    margin: 10px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bi-envelope {
    animation: blink 2s infinite;
    transform: scale(1);
    transition: 10s;
  }

  .bi-envelope:hover {
    transform: scale(1);
  }

  .doorclick-knop {
    height: 60px;
    width: 170px;
  }
  .doorclick-knop:hover {
    transform: scale(1);
    box-shadow: 2px 2px 4px #000000, -2px -2px 4px #ffffff; /* Adjust the box shadow */
  }
}

/* begin about pagina */

.foto-about {
  height: 100%;
  max-height: 450px;
  width: 60%;
  margin-bottom: 20px;
  justify-self: center;
  border-radius: 100px;
  box-shadow: 2px 2px 4px #000000;
}

.overmij {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  align-items: center;
}
.website1 {
  height: 100%;
  max-height: 450px;
  width: 80%;
  margin-top: 10px;
  margin: 10px;
  border-radius: 100px;
  box-shadow: 2px 2px 4px #000000;
}
#kleiner {
  height: 50px;
  width: 60%;
  font-size: large;
  text-align: center;
  margin: 10px;
}

.plaats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  .foto-about {
    height: 100%;
    max-height: 250px;
    width: 100%;
    margin-bottom: 10px;
    margin-left: 0;
  }

  .overmij {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .website1 {
    height: 100%;
    max-height: 250px;
    width: 100%;
    margin-top: 10px;
    margin: 0;
  }

  #kleiner {
    height: auto;
    width: 100%;
    font-size: medium;
    margin: 10px 0;
  }

  #minder-groot {
    height: auto;
    width: 100%;
    font-size: small;
    margin: 10px 0;
  }
}
/* einde about pagina */

/* begin contact pagina */
.contact-formulier {
  height: 500px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
input {
  height: 50px;
  width: 400px;
  border-radius: 10px;
  border: #264c74;
  background-color: #264c74;
}
input textarea :focus {
  border-bottom: 2px solid #000; /* Onderstreping bij focus */
  animation: blink 1s infinite; /* Voeg de animatie toe aan het type lijntje */
}
form {
  margin: 50px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
::placeholder {
  padding: 15px;
}
/* einde contactpagina */

.portfolio {
  height: 100vh;
  max-height: 427px;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
}
.info-portfolio{
  margin: 20px;
  text-align: center;
}
.kleine-tekst{
  font-size: larger;
}