* {
  padding: 0px;
  margin: 0px;
  font-family: "Edu TAS Beginner", cursive;
  font-family: "Lato", sans-serif;
  color: white;
  /* animation: zoomIn 3s ease 1; */
}
@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
h1 {
  font-size: 72px;
}
h2 {
  font-size: x-large;
}

a {
  text-decoration: none;
}

.bi-envelope {
  animation: blink 2s infinite;
  transform: scale(1);
  transition: 10s;
}

.bi-envelope:hover {
  animation: blink 2s none;
  transform: scale(5);
  transition: 10s;
}

body {
  background: linear-gradient(to bottom, #2b2a4c, #102031);
  overflow-x: hidden; /* Verberg horizontale schuifbalk */
  overflow-y: auto; /* Toon verticale schuifbalk als nodig */
}

/* de navigatie balk */
header {
  height: 146px;
  width: 100vw;
  background: linear-gradient(to top, #2b2a4c, #264c74);
}
nav li {
  display: inline-block; /* Display list items inline */
  margin-right: 10px; /* Adjust as needed for spacing between items */
}
nav {
  height: 146px;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.center {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.foto {
  height: 102px;
  width: 114px;
  border-radius: 100%;
  background-color: wheat;
  transition: 600ms;
  box-shadow: 2px 2px 4px #000000, -2px -2px 4px #ffffff;
  margin: 20px;
}
.navigatieknop {
  height: 60px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 4px #000000, -2px -2px 4px #ffffff;
}

.navigatieknop :hover {
  height: 60px;
  width: 100px;
  background: linear-gradient(45deg, #2b2a4c, #264c74);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  transition: 600ms;
  box-shadow: 1px 1px 2px #000000, -1px -1px 2px #ffffff;
}
/* hier eindigt de header */

/* hier begint de main */
main {
  height: 60vh;
  width: 100vw;
}
/* begin text */
.home {
  height: 66vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

#title {
  text-align: center;
}
#subtext {
  text-align: center;
}
/* einde text */

/* afbeeldingen */
.pinkgoose {
  height: 300px;
  width: 400px;
  border-radius: 50px;
}

/* einde afbeeldingen */

/* footer,footerknoppen,footerknoppen animatie
en email*/

footer {
  height: 146px;
  width: 100vw;
  background-color: #102031;
  display: flex;
  align-items: center;
}

.email {
  width: 300px;
  height: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.contact {
  margin-left: 10px;
}
.gridfiller {
  display: none;
}

/* hier eindigt de footer */
/* einde homepage desktop */

/* start  telefoon homepage*/
@media screen and (max-width: 600px) {
  nav {
    display: flex;
    justify-content: center;
  }

  .foto {
    display: none;
  }

  h1 {
    font-size: medium;
  }
  h2 {
    font-size: small;
  }
  h3 {
    font-size: small;
  }
  .navigatieknop {
    height: 60px;
    width: 70px;
    margin: 10px;
    background: linear-gradient(45deg, #2b2a4c, #264c74);
    border-radius: 20%;
    transition: 600ms;
    box-shadow: 1px 1px 2px #000000, -1px -1px 2px #ffffff;
  }

  /* einde navigatie balk */
  .pinkgoose {
    height: 120px;
    width: 250px;
    border-radius: 10%;
  }
  #title {
    margin: 10px;
  }
  .text-homepage {
    height: 140px;
    width: 230px;
  }
  .home {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: auto;
  }
  /* start footer */
  .footerknop {
    display: none;
  }
  .bi-envelope {
    animation: blink 2s infinite;
    transform: scale(1);
    transition: 10s;
  }
  
  .bi-envelope:hover {
    display: none;
  }
}
/* einde pagina 1 */
